<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.google.dart.tools.debug.core.dartiumLaunchConfig">
<stringAttribute key="applicationName" value="/dartchat/finished/client/index.html"/>
<stringAttribute key="launchTime" value="1340930719916"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dartchat/finished/client/index.html"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="projectName" value="dartchat"/>
</launchConfiguration>
